@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  margin: 0;
  padding: 0;
}

$purple: rgb(98, 34, 81);
$gold: rgb(255, 214, 145);
$whiteOpacity: rgba(255, 255, 255, 0.13);

$px: "(0.8px + 0.05335vmin)"; // Responsive pixel
//example: width: calc(#{$px} * your_px);

html {
  background-color: $purple;
}

$font-family: 'Montserrat', sans-serif;

%flex-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: antiquewhite;
}

$purple: rgb(98, 34, 81);

html {
  background-color: $purple;
}

p {
  font-family: $font-family;
  font-weight: 500;
  color: $gold;
}
