@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
  margin: 0;
  padding: 0;
}

$purple: rgb(98, 34, 81);

html {
  background-color: $purple;
}

// $font-family: 'Montserrat', sans-serif;
// $font-family2: 'Open Sans', sans-serif;
$font-family: 'Arial', sans-serif;

%flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  font-family: $font-family;
}
