@media screen and (min-width: 1100px) {
   #grid-container {
      grid-template-columns: auto auto auto auto;
   }

   p {
      font-size: 20px;
   }

   .carousel .slide {
    padding: 0 30vw 0 30vw;
  }
 }

@media screen and (max-width: 1100px) {
   #grid-container {
      grid-template-columns: auto auto auto;
      grid-gap: 3vw;
    }
    
    .grid-item {
      height: 25vw;
      width: 25vw;
    }

   p {
      font-size: 18px;
   }

   .carousel .slide {
    padding: 0 15vw 0 15vw;
  }
 }

@media screen and (max-width: 750px) {
  #fuckTheDealer, 
  #hetspong, 
  #jagharaldrig, 
  #pekleken, 
  #ringoffire, 
  #overunder, 
  #bussen {
    height: 60*0.27vw;
  }

  #grid-container {
    grid-template-columns: auto auto;
    grid-gap: 5vw;
    margin-top: 5vw;
  }
  
  .grid-item {
    height: 42vw;
    width: 42vw;
  }

  p {
    font-size: 16px;
  }

  .carousel .slide {
    padding: 0 10vw 0 10vw;
  }
 }

 @media screen and (max-width: 400px) {
  p {
    font-size: 14px;
  }

  .control-dots {
    margin-bottom: 10vw;
  }
 }
